.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.code_area {
  padding: 16px;
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  border-right: 1px solid #ccc;
}