<table width="790" align="center" cellpadding="5" cellspacing="2">
  <tbody>
    <tr>
      <td width="100" valign="center" style="  background:rgb(255,182,193); "></td>
      <td width="200" valign="center"><span style=" font-size:10pt;  ">#FFB6C1</span></td>
      <td width="238" valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightPink</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">浅粉红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,192,203); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFC0CB</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Pink</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">粉红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(220,20,60); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#DC143C</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Crimson</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">深红<font face="Times New Roman">/</font>
          <font face="宋体">猩红</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,240,245); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFF0F5</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LavenderBlush</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">淡紫红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(219,112,147); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#DB7093</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">PaleVioletRed</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">弱紫罗兰红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,105,180); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF69B4</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">HotPink</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">热情的粉红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,20,147); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF1493</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DeepPink</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">深粉红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(199,21,133); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#C71585</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumVioletRed</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中紫罗兰红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(218,112,214); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#DA70D6</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Orchid</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗紫色<font face="Times New Roman">/</font>
          <font face="宋体">兰花紫</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(216,191,216); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#D8BFD8</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Thistle</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">蓟色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(221,160,221); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#DDA0DD</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Plum</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">洋李色<font face="Times New Roman">/</font>
          <font face="宋体">李子紫</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(238,130,238); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#EE82EE</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Violet</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">紫罗兰</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,0,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF00FF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Magenta</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">洋红<font face="Times New Roman">/</font>
          <font face="宋体">玫瑰红</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,0,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF00FF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Fuchsia</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">紫红<font face="Times New Roman">/</font>
          <font face="宋体">灯笼海棠</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(139,0,139); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#8B008B</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkMagenta</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">深洋红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(128,0,128); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#800080</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Purple</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">紫色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(186,85,211); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#BA55D3</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumOrchid</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中兰花紫</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(148,0,211); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#9400D3</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkViolet</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗紫罗兰</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(153,50,204); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#9932CC</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkOrchid</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗兰花紫</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(75,0,130); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#4B0082</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Indigo</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">靛青<font face="Times New Roman">/</font>
          <font face="宋体">紫兰色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(138,43,226); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#8A2BE2</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">BlueViolet</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">蓝紫罗兰</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(147,112,219); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#9370DB</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumPurple</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中紫色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(123,104,238); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#7B68EE</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumSlateBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中暗蓝色<font face="Times New Roman">/</font>
          <font face="宋体">中板岩蓝</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(106,90,205); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#6A5ACD</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">SlateBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">石蓝色<font face="Times New Roman">/</font>
          <font face="宋体">板岩蓝</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(72,61,139); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#483D8B</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkSlateBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗灰蓝色<font face="Times New Roman">/</font>
          <font face="宋体">暗板岩蓝</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(230,230,250); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#E6E6FA</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Lavender</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">淡紫色<font face="Times New Roman">/</font>
          <font face="宋体">熏衣草淡紫</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(248,248,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F8F8FF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">GhostWhite</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">幽灵白</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,0,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#0000FF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Blue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">纯蓝</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,0,205); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#0000CD</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中蓝色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(25,25,112); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#191970</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MidnightBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">午夜蓝</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,0,139); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#00008B</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗蓝色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,0,128); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#000080</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Navy</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">海军蓝</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(65,105,225); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#4169E1</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">RoyalBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">皇家蓝<font face="Times New Roman">/</font>
          <font face="宋体">宝蓝</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(100,149,237); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#6495ED</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">CornflowerBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">矢车菊蓝</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(176,196,222); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#B0C4DE</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightSteelBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">亮钢蓝</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(119,136,153); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#778899</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightSlateGray</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">亮蓝灰<font face="Times New Roman">/</font>
          <font face="宋体">亮石板灰</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(112,128,144); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#708090</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">SlateGray</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">灰石色<font face="Times New Roman">/</font>
          <font face="宋体">石板灰</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(30,144,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#1E90FF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DodgerBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">闪兰色<font face="Times New Roman">/</font>
          <font face="宋体">道奇蓝</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(240,248,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F0F8FF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">AliceBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">爱丽丝蓝</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(70,130,180); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#4682B4</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">SteelBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">钢蓝<font face="Times New Roman">/</font>
          <font face="宋体">铁青</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(135,206,250); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#87CEFA</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightSkyBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">亮天蓝色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(135,206,235); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#87CEEB</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">SkyBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">天蓝色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,191,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#00BFFF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DeepSkyBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">深天蓝</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(173,216,230); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#ADD8E6</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">亮蓝</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(176,224,230); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#B0E0E6</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">PowderBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">粉蓝色<font face="Times New Roman">/</font>
          <font face="宋体">火药青</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(95,158,160); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#5F9EA0</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">CadetBlue</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">军兰色<font face="Times New Roman">/</font>
          <font face="宋体">军服蓝</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(240,255,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F0FFFF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Azure</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">蔚蓝色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(224,255,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#E0FFFF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightCyan</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">淡青色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(175,238,238); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#AFEEEE</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">PaleTurquoise</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">弱绿宝石</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,255,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#00FFFF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Cyan</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">青色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,255,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#00FFFF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Aqua</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">浅绿色<font face="Times New Roman">/</font>
          <font face="宋体">水色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,206,209); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#00CED1</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkTurquoise</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗绿宝石</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(47,79,79); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#2F4F4F</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkSlateGray</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗瓦灰色<font face="Times New Roman">/</font>
          <font face="宋体">暗石板灰</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,139,139); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#008B8B</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkCyan</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗青色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,128,128); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#008080</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Teal</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">水鸭色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(72,209,204); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#48D1CC</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumTurquoise</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中绿宝石</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(32,178,170); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#20B2AA</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightSeaGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">浅海洋绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(64,224,208); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#40E0D0</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Turquoise</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">绿宝石</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(127,255,212); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#7FFFD4</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Aquamarine</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">宝石碧绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(102,205,170); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#66CDAA</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumAquamarine</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中宝石碧绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,250,154); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#00FA9A</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumSpringGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中春绿色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(245,255,250); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F5FFFA</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MintCream</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">薄荷奶油</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,255,127); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#00FF7F</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">SpringGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">春绿色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(60,179,113); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#3CB371</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MediumSeaGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">中海洋绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(46,139,87); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#2E8B57</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">SeaGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">海洋绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(240,255,240); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F0FFF0</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Honeydew</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">蜜色<font face="Times New Roman">/</font>
          <font face="宋体">蜜瓜色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(144,238,144); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#90EE90</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">淡绿色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(152,251,152); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#98FB98</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">PaleGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">弱绿色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(143,188,143); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#8FBC8F</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkSeaGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗海洋绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(50,205,50); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#32CD32</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LimeGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">闪光深绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,255,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#00FF00</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Lime</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">闪光绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(34,139,34); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#228B22</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">ForestGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">森林绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,128,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#008000</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Green</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">纯绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,100,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#006400</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗绿色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(127,255,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#7FFF00</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Chartreuse</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">黄绿色<font face="Times New Roman">/</font>
          <font face="宋体">查特酒绿</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(124,252,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#7CFC00</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LawnGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">草绿色<font face="Times New Roman">/</font>
          <font face="宋体">草坪绿</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(173,255,47); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#ADFF2F</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">GreenYellow</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">绿黄色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(85,107,47); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#556B2F</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkOliveGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗橄榄绿</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(154,205,50); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#9ACD32</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">YellowGreen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">黄绿色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(107,142,35); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#6B8E23</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">OliveDrab</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">橄榄褐色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(245,245,220); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F5F5DC</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Beige</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">米色<font face="Times New Roman">/</font>
          <font face="宋体">灰棕色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(250,250,210); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FAFAD2</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightGoldenrodYellow</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">亮菊黄</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,255,240); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFFFF0</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Ivory</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">象牙色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,255,224); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFFFE0</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightYellow</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">浅黄色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,255,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFFF00</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Yellow</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">纯黄</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(128,128,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#808000</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Olive</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">橄榄</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(189,183,107); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#BDB76B</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkKhaki</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗黄褐色<font face="Times New Roman">/</font>
          <font face="宋体">深卡叽布</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,250,205); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFFACD</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LemonChiffon</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">柠檬绸</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(238,232,170); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#EEE8AA</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">PaleGoldenrod</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">灰菊黄<font face="Times New Roman">/</font>
          <font face="宋体">苍麒麟色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(240,230,140); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F0E68C</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Khaki</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">黄褐色<font face="Times New Roman">/</font>
          <font face="宋体">卡叽布</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,215,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFD700</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Gold</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">金色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,248,220); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFF8DC</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Cornsilk</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">玉米丝色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(218,165,32); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#DAA520</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Goldenrod</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">金菊黄</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(184,134,11); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#B8860B</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkGoldenrod</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗金菊黄</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,250,240); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFFAF0</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">FloralWhite</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">花的白色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(253,245,230); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FDF5E6</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">OldLace</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">老花色<font face="Times New Roman">/</font>
          <font face="宋体">旧蕾丝</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(245,222,179); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F5DEB3</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Wheat</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">浅黄色<font face="Times New Roman">/</font>
          <font face="宋体">小麦色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,228,181); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFE4B5</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Moccasin</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">鹿皮色<font face="Times New Roman">/</font>
          <font face="宋体">鹿皮靴</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,165,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFA500</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Orange</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">橙色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,239,213); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFEFD5</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">PapayaWhip</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">番木色<font face="Times New Roman">/</font>
          <font face="宋体">番木瓜</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,235,205); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFEBCD</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">BlanchedAlmond</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">白杏色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,222,173); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFDEAD</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">NavajoWhite</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">纳瓦白<font face="Times New Roman">/</font>
          <font face="宋体">土著白</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(250,235,215); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FAEBD7</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">AntiqueWhite</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">古董白</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(210,180,140); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#D2B48C</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Tan</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">茶色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(222,184,135); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#DEB887</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">BurlyWood</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">硬木色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,228,196); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFE4C4</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Bisque</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">陶坯黄</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,140,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF8C00</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkOrange</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">深橙色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(250,240,230); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FAF0E6</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Linen</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">亚麻布</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(205,133,63); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#CD853F</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Peru</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">秘鲁色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,218,185); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFDAB9</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">PeachPuff</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">桃肉色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(244,164,96); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F4A460</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">SandyBrown</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">沙棕色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(210,105,30); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#D2691E</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Chocolate</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">巧克力色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(139,69,19); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#8B4513</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">SaddleBrown</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">重褐色<font face="Times New Roman">/</font>
          <font face="宋体">马鞍棕色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,245,238); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFF5EE</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Seashell</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">海贝壳</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(160,82,45); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#A0522D</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Sienna</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">黄土赭色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,160,122); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFA07A</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightSalmon</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">浅鲑鱼肉色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,127,80); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF7F50</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Coral</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">珊瑚</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,69,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF4500</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">OrangeRed</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">橙红色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(233,150,122); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#E9967A</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkSalmon</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">深鲜肉<font face="Times New Roman">/</font>
          <font face="宋体">鲑鱼色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,99,71); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF6347</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Tomato</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">番茄红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,228,225); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFE4E1</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">MistyRose</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">浅玫瑰色<font face="Times New Roman">/</font>
          <font face="宋体">薄雾玫瑰</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(250,128,114); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FA8072</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Salmon</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">鲜肉<font face="Times New Roman">/</font>
          <font face="宋体">鲑鱼色</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,250,250); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFFAFA</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Snow</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">雪白色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(240,128,128); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F08080</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightCoral</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">淡珊瑚色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(188,143,143); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#BC8F8F</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">RosyBrown</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">玫瑰棕色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(205,92,92); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#CD5C5C</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">IndianRed</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">印度红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,0,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FF0000</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Red</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">纯红</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(165,42,42); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#A52A2A</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Brown</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">棕色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(178,34,34); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#B22222</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">FireBrick</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">火砖色<font face="Times New Roman">/</font>
          <font face="宋体">耐火砖</font>
        </span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(139,0,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#8B0000</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkRed</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">深红色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(128,0,0); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#800000</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Maroon</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">栗色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(255,255,255); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#FFFFFF</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">White</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">纯白</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(245,245,245); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#F5F5F5</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">WhiteSmoke</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">白烟</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(220,220,220); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#DCDCDC</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Gainsboro</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">淡灰色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(211,211,211); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#D3D3D3</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">LightGrey</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">浅灰色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(192,192,192); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#C0C0C0</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Silver</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">银灰色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(169,169,169); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#A9A9A9</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DarkGray</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">深灰色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(128,128,128); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#808080</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">Gray</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">灰色</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(105,105,105); "></td>
      <td valign="center"><span style=" font-size:10pt;  ">#696969</span></td>
      <td valign="center" style="width:104.7pt;  "><span style=" font-size:10pt;  ">DimGray</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">暗淡灰</span></td>
    </tr>
    <tr>
      <td valign="center" style="  background:rgb(0,0,0); "><span
          style="font-size:10pt;  color:rgb(255,255,255); ">&nbsp;</span><span
          style="font-size:10pt;  color:rgb(255,255,255); "></span></td>
      <td valign="center"><span style=" font-size:10pt;  ">#000000</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">Black</span></td>
      <td valign="center"><span style=" font-size:10pt;  ">纯黑</span></td>
    </tr>
  </tbody>
</table>


<script>
const tr = document.querySelectorAll('tr')

var map = {}

tr.forEach(el => {
  const [_, val, name, _3] = el.children
  map[name.innerText] = val.innerText
})

</script>